<!-- #ffd36b dark color -->
<!-- #ffe78f light color -->
<!-- #502020 text color -->
{% load static %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<!-- Dashboard CSS-->
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav_menu.css' %}">
	<link rel="stylesheet" href="{% static 'css/classroom.css' %}">

	<title>Dashboard</title>

</head>

<body>

	<div class="app">

		<!-- dashboard menu -->
		<div class="nav-bar">
			<div class="nav-btn">
				<i class="far fa-user-circle nav-icon"></i>
				<i class="fas fa-cog nav-icon"></i>
				<a href="{% url 'signout' %}"> <i class="fas fa-sign-out-alt nav-icon"></i></a>
			</div>
			<!--profile info-->
			<div class="profile-photo">
				<img id="userPhoto" src="{% static 'images/profile_image.png' %}" alt="Avatar">
			</div>
			<div id="dashboard-menu">
				<ul>
					<li onclick="navItem(0)" class="nav-items"><i class="fas fa-th-large"></i>Dashboard</li>
					<li onclick="navItem(1)" class="nav-items"><i class="fas fa-users"></i>ClassRoom's</li>
					<li onclick="navItem(2)" class="nav-items"><i class="fas fa-chalkboard-teacher"></i>Own ClassRoom's
					</li>
					<div class="horizontal-line"></div>
					<li onclick="navItem(3)" class="nav-items"><i class="fas fa-clipboard-check"></i>Portals</li>
					<div class="horizontal-line"></div>
					<li onclick="navItem(4)" class="nav-items"><i class="fas fa-graduation-cap"></i>College Name</li>
				</ul>
			</div>
		</div>

		<!-- content of the page -->
		<div class="content">
			<!-- message for login in -->
			{% for message in messages %}
			<div style="width: 100% ;z-index:1" class="alert alert-{{message.tags}} alert-dismissible fade show mb-0"
				role="alert">
				<strong>Message:</strong> {{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}


			<!-- nav-menu-divs -->

			<!-- dashboard -->
			<div class="nav-divs">dashboard</div>

			<!-- classroom -->
			<div class="nav-divs" style="display: none;">
				<div class="classroom-navbar">
					<div class="classroom-nav-btn">
						<div class="btn" id="join-btn">
							<i class="fas fa-plus"></i>
							<span>JOIN</span>
						</div>
						<form id="joinclsmodal" class="joincls" action="/classroom/joincls/" method="POST">
							{% csrf_token %}
							<input class="classcode" type="text" placeholder="classcode" name='classcode'><br>
							<input class="submit" type="submit" value="join class">
						</form>
					</div>
				
				</div>
				<div class="classrooms">
					<div class="card-cover">
						<!-- reference card -->
						<!-- <div class="classroom-card">
							<a href="" style="text-decoration:none;">
								<div class="class-content">
									<div class="class-teacher">#Harshit Pawar</div>
									<div class="class-name">MATHS</div>
									<div class="class-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos blanditiis</div>
									<div class="class-image"></div>
								</div>
							</a>
						</div> -->
					</div>
				
					<script>
						var cards = document.getElementsByClassName('class-content')
						for (let i = 1; i < cards.length; i = i + 3) {
							cards[i].style.marginTop = '70px';
						}
				
						var modal = document.getElementById("joinclsmodal")
						var joinbtn = document.getElementById("join-btn")
				
						joinbtn.onclick = function () {
							modal.style.display = 'flex';
						}
				
						window.onclick = function (event) {
							if (event.target == modal) {
								modal.style.display = "none";
							}
						}

					</script>
				</div>
			</div>

			<!-- own classroom -->
			<div class="nav-divs" style="display: none;">
				<div class="classroom-navbar">
					<div class="classroom-nav-btn">
						<div class="btn" id="join-btn">
							<i class="fas fa-plus"></i>
							<span>Create</span>
						</div>
						<form id="joinclsmodal" class="joincls" action="/classroom/joincls/" method="POST">
							{% csrf_token %}
							<input class="classcode" type="text" placeholder="classcode" name='classcode'><br>
							<input class="submit" type="submit" value="join class">
						</form>
					</div>
				
				</div>
				<div class="ownclassrooms">
					<div class="card-cover">
						<!-- reference card -->
						<!-- <div class="classroom-card">
							<a href="" style="text-decoration:none;">
								<div class="class-content">
									<div class="class-teacher">#Harshit Pawar</div>
									<div class="class-name">MATHS</div>
									<div class="class-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos blanditiis</div>
									<div class="class-image"></div>
								</div>
							</a>
						</div> -->
					</div>
				
					<script>
						var cards = document.getElementsByClassName('class-content')
						for (let i = 1; i < cards.length; i = i + 3) {
							cards[i].style.marginTop = '70px';
						}
				
						var modal = document.getElementById("joinclsmodal")
						var joinbtn = document.getElementById("join-btn")
				
						joinbtn.onclick = function () {
							modal.style.display = 'flex';
						}
				
						window.onclick = function (event) {
							if (event.target == modal) {
								modal.style.display = "none";
							}
						}

					</script>
				</div>
			</div>
			<div class="nav-divs" style="display: none;">portals</div>
			<div class="nav-divs" style="display: none;">name</div>
		</div>
	</div>


	<!-- <a href="/classroom/class-detail/data[i].classCode"></a>       -->
</body>
	<script>
		async function getData(url, j) {
			let response = await fetch(url);
			let data = await response.json();
			console.log(data);
			if(j==1){
				var cover = document.getElementsByClassName('nav-divs')[j].getElementsByClassName('card-cover')[0];
					cover.innerHTML = "";
					for(let i=0;i<data.length;i++){
						cover.innerHTML += `<div class="classroom-card">
								<a href="/classroom/classdetail/${data[i].classCode}" style="text-decoration:none;">
									<div class="class-content">
										<div class="class-teacher">#${data[i].teacher.username}</div>
										<div class="class-name">${data[i].classname}</div>
										<div class="class-description">${data[i].classdecription}</div>
										<div class="class-image"></div>
									</div>
								</a>
							</div>`
					}
			}else if(j==2){
				var cover = document.getElementsByClassName('nav-divs')[j].getElementsByClassName('card-cover')[0];
					cover.innerHTML = "";
					for(let i=0;i<data.length;i++){
						cover.innerHTML += `<div class="classroom-card">
								<a href="/classroom/classdetail/${data[i].classCode}" style="text-decoration:none;">
									<div class="class-content">
										<div class="class-teacher">#${data[i].teacher.username}</div>
										<div class="class-name">${data[i].classname}</div>
										<div class="class-description">${data[i].classdecription}</div>
										<div class="class-image"></div>
									</div>
								</a>
							</div>`
					}
			}
		}
		document.getElementsByClassName('nav-items')[0].classList.add('clicked');
		const arr = ['', 'http://127.0.0.1:8000/classroom/all-joinclass/', 'http://127.0.0.1:8000/classroom/all-ownclass/', '', '', ''];
		function navItem(index) {
			for (var i = 0; i < 5; i++) {
				if (i == index) {
					document.getElementsByClassName('nav-items')[i].classList.add('clicked');
					document.getElementsByClassName('nav-divs')[i].style.display = 'block';
					getData(arr[index], i);
				} else {
					document.getElementsByClassName('nav-items')[i].classList.remove('clicked');
					document.getElementsByClassName('nav-divs')[i].style.display = 'none';
				}
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

</html>