
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attempt test</title>
</head>
<body>
    <h1>{{test.name}}</h1>
    <h3>{{test.testTopic}}</h3>
    <h4>{{test.testCode}}</h4>
    <form action="/classroom/attempttest/{{test.testCode}}/" method="POST">
    {% csrf_token %}
        {% for question in questions %}
            question <br>
            <p>{{question.question}}</p>
            <br>
            <br>
            <p>a) {{question.option_a}}</p><br>
            <p>b) {{question.option_b}}</p><br>
            <p>c) {{question.option_c}}</p><br>
            <p>d) {{question.option_d}}</p><br>

            <select name="responses[]" id="">
                <option value="u">select option</option>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
            </select>
            <p>-------------------------------------</p>
        {% endfor %}
        <br><br>
            
        <br><br>
        <input type="submit" value="submit test">
    </form>
</body>
</html>