{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/authentication.css' %}"> -->
    <title>Create Test</title>
</head>

<body>
    <form action="/classroom/createtest/{{clscode}}/" method="POST">
        {% csrf_token %}
        <div style=" margin-top:100px;align-items: center; height:250px; background-color:whitesmoke">
            <div  class="question-nav">
                <i class="fas fa-circle-notch"></i>
                <label for="name">Test Name</label>  
            </div>
            <div style="padding-left:70px;">
                <label for="name" style="padding-left:10px">Write Name*</label>
                <input type="text" placeholder="Name" name="name">
            </div>
        </div>
        <div style=" margin-top:20px;align-items: center; height:250px; background-color:whitesmoke">
            <div  class="question-nav">
                <i class="fas fa-circle-notch"></i>
                <label for="name">Test Topic</label>  
            </div>
            <div style="padding-left:70px;">
                <label for="name" style="padding-left:10px">Write Topic Name*</label>
                <input type="text" placeholder="Topic" name="testtopic">
            </div>
        </div>
        
        <div  id="questioncover">
            <!-- <div class="question-mcq" style="position:relative; margin-top:20px;align-items: center; min-height:250px; background-color:whitesmoke">
                <div  class="question-nav">
                    <i class="fas fa-circle-notch"></i>
                    <label for="name">Question 1</label>  
                </div>
                <div style="position: absolute; top:0;right:0; padding:20px 30px; cursor: pointer;" onclick="delete()"><i class="fas fa-times"></i></div>
                <div style="padding-left:70px;">
                    <label for="name" style="padding-left:10px">Write the question</label>
                    <input type="text" placeholder="Question?" name="Question">
                </div>
                <div class="mcq-options" style="padding-left:70px; padding-right:270px; padding-bottom: 10px;">
                    <Textarea name="options_a[]" placeholder="A."></Textarea>
                    <Textarea name="options_b[]" placeholder="B."></Textarea>
                    <Textarea name="options_c[]" placeholder="C."></Textarea>
                    <Textarea name="options_d[]" placeholder="D."></Textarea>
                </div>
                <div style="padding-left: 70px; padding-bottom: 30px;">
                    <select name="answers[]" id="">
                        <option value="">select answer</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div id="addquestion" style="cursor: pointer; padding:10px; font-size:20px;width: 100%; display: flex;align-items: center; text-align: right; justify-content: flex-end;">
            <i class="far fa-plus-square"></i>
            <span style="padding-left:10px;">Add Question</span>
        </div>
        <div style="padding:50px 0px 100px 0px;">
            <input id="createTest" type="submit" value="Create Test">
        </div>
    </form>


    <script>
        let i=0;
        document.getElementById("addquestion").onclick = function () {
            var questioncover = document.getElementById("questioncover")
            var newquestionblock =
             `<div class="question-mcq" style="position:relative; margin-top:20px;align-items: center; min-height:250px; background-color:whitesmoke">
                <div  class="question-nav">
                    <i class="fas fa-circle-notch"></i>
                    <label for="name">Question ${i+1}</label>  
                </div>
                <div style="position: absolute; top:0;right:0; padding:20px 30px; cursor: pointer;" onclick="deleteQuestion(${i})"><i class="fas fa-times"></i></div>
                <div style="padding-left:70px;">
                    <label for="name" style="padding-left:10px">Write the question</label>
                    <input type="text" placeholder="Question?" name="Question">
                </div>
                <div class="mcq-options" style="padding-left:70px; padding-right:270px; padding-bottom: 10px;">
                    <Textarea name="options_a[]" placeholder="A."></Textarea>
                    <Textarea name="options_b[]" placeholder="B."></Textarea>
                    <Textarea name="options_c[]" placeholder="C."></Textarea>
                    <Textarea name="options_d[]" placeholder="D."></Textarea>
                </div>
                <div style="padding-left: 70px; padding-bottom: 30px;">
                    <select name="answers[]" id="">
                        <option value="">select answer</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                    </select>
                </div>
            </div>`;
            i++;
            questioncover.insertAdjacentHTML('beforeend', newquestionblock);
        }
        function deleteQuestion(index){
            let cover = document.getElementsByClassName('question-mcq')[index];
            cover.remove();
        }
    </script>
</body>

</html>